
.countries {
  fill: gainsboro;
  stroke: #fff;
  stroke-linejoin: round;
}
.legendThreshold {
    font-size: 12px;
    font-family: sans-serif;
}
.caption {
    fill: #000;
    text-anchor: start;
    font-weight: bold;
}

.tooltip {
  position: absolute;
  height: auto;
  text-align: center;
  font-weight: bold;
  width: 120px;
  height: 25px;
  background: "purple";
  border: 1px;
 }

.feature {
  fill: auto;
  cursor: pointer;
}

.feature.active {
  fill: rgb(137, 231, 255);
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}
